<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../static/css/404.css" rel="stylesheet" />
    <title>404 Error Page</title>
  </head>
  <body>
    <main class="container">
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>
      <span class="particle">0</span>

      <div class="wrapper-squares">
        <div
          class="square square1 square-brand square-pulse square-center"
          id="activeball"
        >
          페이지를 찾을 수 없습니다!
        </div>
      </div>
    </main>
  </body>
  <script>
    const particleColor = ["#f2d74e", "#95c3de", "#ff9a91"]; // 세 가지 색상 지정

    function randomColor() {
      return particleColor[Math.floor(Math.random() * particleColor.length)];
    }

    // 모든 'particle' 클래스 요소에 랜덤 색상 적용
    document.querySelectorAll(".particle").forEach((particle) => {
      particle.style.color = randomColor();
    });

    // 노란 포스트잇에 클릭 이벤트 리스너 추가
    document
      .getElementById("activeball")
      .addEventListener("click", function () {
        window.location.href = "/";
      });
  </script>
</html>
