<!DOCTYPE html>
<html lang="ko" class="h-100" data-bs-theme="auto">
  <head>
    <!-- CDN들 불러오기 -->
    <%- include('../views/components/cdn.ejs') %> 
    <!-- CSS 연결 -->
    <link href="../static/css/index.css" rel="stylesheet" />
    <title>SeSAC-it</title>
  </head>

  <body class="d-flex h-100 text-center text-bg-white">
     
    <!-- 헤더 : 상단 메뉴바-->
    <header class="container">
    <div>
      <%- include('../views/components/header.ejs') %>
    </div>
   </header>
   <main>
        <!-- 메인 배경 흩날리는 포스티잇 시작 ----------->
        <div class="confetti-group">
          <div class="confetti confetti1"></div>
          <div class="confetti confetti2"></div>
          <div class="confetti confetti3"></div>
          <div class="confetti confetti4"></div>
          <div class="confetti confetti5"></div>
          <div class="confetti confetti6"></div>
          <div class="confetti confetti7"></div>
          <div class="confetti confetti8"></div>
          <div class="confetti confetti9"></div>
          <div class="confetti confetti10"></div>
        </div>
        <div id="root"></div>
        <!-- 메인 배경 흩날리는 포스티잇 끝 -->
      </div>
      <!-- 메인 포스트잇 이미지 ----------->
      <div class="wrapper-squares">
        <div class="square square1 square-brand square-pulse square-center">
          SeSAC-it
        </div>
      </div>
      <!-- 메인 포스트잇 이미지 끝 ------------>
    </div>
  </main>
  </body>
</html>
