<!DOCTYPE html>
<html lang="ko" class="h-100" data-bs-theme="auto">
  <head>
    <!-- CDN들 불러오기 -->
    <%- include('../components/cdn.ejs') %>
    <!-- CSS 연결 -->
    <link href="../static/css/user.css" rel="stylesheet" />
    <title>비밀번호 변경</title>
  </head>
  <body class="d-flex h-100 text-center text-bg-white">
    <!-- 헤더 : 상단 메뉴바  -->
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="container">
        <div><%- include('../components/header.ejs') %></div>
      </header>
<body>
    <script>
        function updatePassword() {
            const userid = localStorage.getItem('userid');
            const changePassword = document.querySelector('input[name="changePassword"]').value;
            const confirmPassword = document.querySelector('input[name="confirmPassword"]').value;
    
            if (!changePassword) {
                alert("변경할 비밀번호를 입력해주세요.");
                return;
            }
            if (changePassword !== confirmPassword) {
                alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.");
                return;
                }
            
            axios({
                method: "post",
                url: "/changePassword",
                data: { userid: userid, changePassword: changePassword }
            }).then((res) => {
                alert(res.data.message);
                if (res.data.result) {
                    window.location.href = "/signin";
                }
            }).catch((error) => {
                console.error(error);
            });
        }
        function checkPasswordMatch() {
            const changePassword = document.querySelector('input[name="changePassword"]').value;
            const confirmPassword = document.querySelector('input[name="confirmPassword"]').value;
            const checkPasswordMatch = document.getElementById('checkPasswordMatch');

            if (changePassword === confirmPassword) {
                checkPasswordMatch.style.color = 'green';
                checkPasswordMatch.innerHTML = '⭕️';
            } else {
                checkPasswordMatch.style.color = 'red';
                checkPasswordMatch.innerHTML = '❌';
            }
        }
    </script>
    
    <div class="flex">
        <div class="login-box flex">
            <form>
                <div><input type="password" class="login-input" placeholder="변경할 비밀번호를 입력하세요" name="changePassword" required></div>
                <div><input type="password" class="login-input" placeholder="비밀번호 확인" name="confirmPassword" required oninput="checkPasswordMatch();"></div>
                <span id="checkPasswordMatch"></span>
                <br />
                <button class="activePage-button" type="button" onclick="updatePassword();"><span>비밀번호 변경</span></button>
                <!-- <button class="activePage-button find-password" type="button" ><span>아이디 찾기</span></button> -->
            </form>
        </div>
    </div>
    <!-- <script>
        function changePassword() {
            const password = document.querySelector('input[name="changePassword"]').value;

            axios.post("/user/changePassword", { password: password })
                .then(function (response) {
                    if (response.data.success) {
                        alert("비밀번호가 성공적으로 변경되었습니다.");
                        window.location.href = "/user/signin"; // 로그인 페이지로 리다이렉트
                    } else {
                        alert("비밀번호 변경에 실패하였습니다.");
                    }
                })
                .catch(function (error) {
                    console.error(error);
                });
        }
    </script> -->


</body>
</html>
