<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./user.css">
    <title>비밀번호 변경</title>
</head>
<body>
    <div class="flex">
        <div class="login-box flex">
            <form action="">
                <div><input type="password" class="login-input" placeholder="변경할 비밀번호를 입력하세요" name="changePassword" required></div>
                
                <br />
                <button class="activePage-button" type="button" ><span>비밀번호 변경</span></button>
                
                <button class="activePage-button find-password" type="button" ><span>아이디 찾기</span></button>
            </form>
            
        </div>
        
    </div>
    
</body>
</html>