<!DOCTYPE html>
<html lang="ko" class="h-100" data-bs-theme="auto">
  <head>
    <!-- CDN들 불러오기 -->
    <%- include('../components/cdn.ejs') %>
    <!-- CSS 연결 -->
    <link href="../static/css/user.css" rel="stylesheet" />
    <title>비밀번호 변경</title>
  </head>
  <body class="d-flex h-100 text-center text-bg-white">
    <!-- 헤더 : 상단 메뉴바  -->
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="container">
        <div><%- include('../components/header.ejs') %></div>
      </header>
    <script>
        function updatePassword() {
            const userid = localStorage.getItem('userid');
            const changePassword = document.getElementById("changePassword").value;
            const confirmPassword = document.getElementById("confirmPassword").value;

            if (!changePassword) {
                alert("변경할 비밀번호를 입력해주세요.");
                return;
            }
            if (changePassword !== confirmPassword) {
                alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.");
                return;
                }
            
            axios({
                method: "post",
                url: "/changePassword",
                data: { userid: userid, changePassword: changePassword }
            }).then((res) => {
                alert(res.data.message);
                if (res.data.result) {
                  if (res.data.isAuthenticated) {
                  // 로그인한 상태에서 비밀번호를 변경한 경우, 메인 페이지로 이동
                  window.location.href = "/";
                } else {
                  // 로그인하지 않은 상태에서 비밀번호를 변경한 경우, 로그인 페이지로 이동
                  window.location.href = "/signin";
                }
              }
            }).catch((error) => {
                console.error(error);
            });
            }
         // 비밀번호 패턴검증   
        function validatePassword() {
          var password = document.getElementById("password");
          var password = document.getElementById("changePassword");


          if (password.validity.patternMismatch) {
              passwordError.style.color = '#ff8c8c';
              passwordError.style.fontSize = '14px';
              passwordError.style.textAlign = 'start';
              passwordError.innerText = "특수문자를 포함한 6자 이상의 비밀번호를 입력해주세요.";
              passwordError.style.display = 'block';
          } else {
              passwordError.style.display = 'none';
          }
      }
        // 비밀번호 입력값 유효확인
        function checkPasswordMatch() {
            const changePassword = document.getElementById("changePassword").value;
            const confirmPassword = document.getElementById("confirmPassword").value;
            const checkPasswordMatch = document.getElementById('checkPasswordMatch');

            if (changePassword === confirmPassword) {
                checkPasswordMatch.style.display = 'none';
            } else {
                checkPasswordMatch.style.color = '#ff8c8c';
                checkPasswordMatch.style.fontSize = '14px';
                checkPasswordMatch.style.textAlign = 'start';
                checkPasswordMatch.style.display = 'block';
                checkPasswordMatch.innerHTML = '비밀번호가 일치하지 않습니다.';
            }
        }
    </script>
    
    <div class="login-root">
        <div class="box-root flex-flex flex-direction--column padding-top--48" style="min-height: 100vh; flex-grow: 1;">
      <div class="formbg-outer">
        <div class="formbg">
          <div class="formbg-inner padding-horizontal--48">
            <form name="form-login" action="/signin" method="POST">
              <div class="field padding-bottom--24">
                <label class="d-flex justify-content-start" for="userId">새 비밀번호</label>
                <input type="password" class="login-input" name="changePassword" id="changePassword"
                pattern="(?=.*[a-z])(?=.*[\W]).{6,}"required oninput="validatePassword();">
                <span id="passwordError"></span>
              </div>
              <div class="field padding-bottom--24">
                <div class="grid--50-50">
                  <label class="d-flex justify-content-start" for="userPassword">새 비밀번호 확인</label>
                </div>
                <input type="password" class="login-input" name="confirmPassword" id="confirmPassword" required oninput="checkPasswordMatch();">
                <span id="checkPasswordMatch"></span>    
            </div>
              <div class="field padding-bottom--10">
                <input class="activePage-button" type="button" onclick="updatePassword();" value="비밀번호 변경">
                
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body> 
</html>
