<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./user.css">
    <title>아이디 찾기</title>
</head>
<body>
    <div class="flex">
        <div class="login-box flex">
            <form action="">
                <div><input type="text" class="login-input" placeholder="이메일" name="email" required></div>
                
                <br />
                <button class="login-button" type="button" ><span>아이디 찾기</span></button>
            </form>
        </div>
        
    </div>
    
</body>
</html>