<!DOCTYPE html>
<html lang="ko" class="h-100" data-bs-theme="auto">
  <!DOCTYPE html>
  <html lang="ko" class="h-100" data-bs-theme="auto">
    <head>
      <!-- CDN들 불러오기 -->
      <%- include('../components/cdn.ejs') %>
      <!-- CSS 연결 -->
      <link href="../static/css/signin.css" rel="stylesheet" />
      <title>아이디 찾기</title>
    </head>
    <body class="d-flex h-100 text-center text-bg-white">
      <!-- 헤더 : 상단 메뉴바  -->
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="container">
          <div><%- include('../components/header.ejs') %></div>
        </header>
<body>
    <div class="login-root">
 <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh; flex-grow: 1;">
      <div class="formbg-outer">
        <div class="formbg">
          <div class="login-box formbg-inner padding-horizontal--48">
            <form action="" name="form-register">
              <div class="field padding-bottom--24">
                <label class="d-flex justify-content-start" for="userEmail">이메일</label>
                <input type="text" class="login-input" name="email" required
                required 
              />
              </div>
              <div class="field padding-bottom--10">
                <input class="login-button" type="button" id="find-button" onclick="findId();" value="아이디 찾기">
              </div>
              <div class="field padding-bottom--10 login" id="content-div" ></div>
        </form>
    <script>
        function findId() {
            let email = document.forms["form-register"].email.value;
            if (!email) {
                alert("이메일을 입력해주세요.");
                return;
            }
            axios({
                method: 'post',
                url: '/findId',
                data: { email: email }
            }).then((res) => {
                if (res.data.userid) {
                    // 버튼을 숨기고 아이디 정보를 표시합니다.
                    document.getElementById("find-button").style.display = "none";
                    let message = document.createElement("p");
                    message.className = "padding-bottom--24"
                    message.innerText = "당신의 아이디는 " + res.data.userid + " 입니다.";
                    message.style.color = "#7f7979";
                    message.style.fontSize = "18px";
                    message.style.textAlign = "start";
                    document.getElementById("content-div").appendChild(message);

                    // "로그인"&"비밀번호 찾기" 버튼을 생성합니다.
                    createLoginButton();

                function createLoginButton() {
                    // div 요소 생성
                    let div = document.createElement("div");
                    div.className = "d-flex padding-bottom--10";

                    // input 로그인 버튼 요소 생성
                    let input1 = document.createElement("input");
                    input1.type = "button";
                    input1.name = "submit flex-grow-1";
                    input1.value = "로그인";
                    input1.onclick = function() {
                    location.href = "/signin"}; // login 함수와 연결
                
                        // input 로그인 버튼 요소 생성
                    let input2 = document.createElement("input");
                    input2.type = "button";
                    input2.name = "submit";
                    input2.value = "비밀번호 찾기";
                    input2.onclick = function() {
                    location.href = "/findPassword"}; // login 함수와 연결


                    // div에 input 추가
                    div.appendChild(input1);
                    div.appendChild(input2);

                    // 생성된 div를 문서의 특정 위치에 추가
                    document.getElementById("content-div").appendChild(div);
                };
                } else {
                    alert("해당 이메일로 등록된 아이디가 없습니다.");
                }
            });
        }
    </script>
</body>
</html>