<!DOCTYPE html>
<html lang="ko" class="h-100" data-bs-theme="auto">
  <!DOCTYPE html>
  <html lang="ko" class="h-100" data-bs-theme="auto">
    <head>
      <!-- CDN들 불러오기 -->
      <%- include('../components/cdn.ejs') %>
      <!-- CSS 연결 -->
      <link href="../static/css/user.css" rel="stylesheet" />
      <title>회원 가입</title>
    </head>
    <body class="d-flex h-100 text-center text-bg-white">
      <!-- 헤더 : 상단 메뉴바  -->
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="container">
          <div><%- include('../components/header.ejs') %></div>
        </header>

    <script>
        function checkId() {
           let userid = document.forms["form-register"].userid.value;
           if (!userid) {
                alert("아이디를 입력해주세요.");
                return;
            }

        axios({
            method: "post",
            url: "/checkid",
            data: { userid: userid }
        }).then((res) => {
            if (res.data.duplicate) {
                alert("이미 사용 중인 아이디입니다.");
            } else {
                alert("사용 가능한 아이디입니다.");
            }
        });
    }

    function checkNickname() {
           let nickname = document.forms["form-register"].nickname.value;
           if (!nickname) {
                alert("닉네임을 입력해주세요.");
                return;
            }

        axios({
            method: "post",
            url: "/checknickname",
            data: { nickname: nickname }
        }).then((res) => {
            if (res.data.duplicate) {
                alert("이미 사용 중인 닉네임입니다.");
            } else {
                alert("사용 가능한 닉네임입니다.");
            }
        });
    }
      
        function register() {
          var form = document.forms["form-register"];
          if (!form.checkValidity()) {
            form.reportValidity();
            return false;
          }
  
          let user = {
            userid: form.userid.value,
            password: form.password.value,
            email: form.email.value,
            nickname: form.nickname.value
          };
  
          axios({
            method: 'post',
            url: './signup',
            data: user
          }).then((res) => {
            alert("회원가입 성공");
            document.location.href = "./signin";
          });
        }
      </script>
</head>
<body>
    <div class="flex">
        <div class="login-box flex">
            <form name="form-register">
                <input type="text" class="login-input" placeholder="아이디" name="userid" required>
                <button type="button" onclick="checkId();">중복확인</button>
                <input type="password" class="login-input" placeholder="패스워드" name="password" required>
                <input type="text" class="login-input" placeholder="이메일" name="email" required>
                <input type="text" class="login-input" placeholder="닉네임" name="nickname" required>
                <button type="button" onclick="checkNickname();">중복확인</button>

                <br />
                <button class="login-button" type="button" onclick="register();"><span>회원가입</span></button>
            </form>
           
        </div>
        
    </div>
    
</body>
</html>