<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./user.css">
    <title>로그인</title>
</head>
<body>
    <div class="flex">
        <div class="login-box flex">
            <form action="">
                <div><input type="text" class="login-input" placeholder="아이디" name="userid" required></div>
                <input type="password" class="login-input" placeholder="패스워드" name="password" required>
                <br />
                <button class="login-button" type="button" ><span>로그인</span></button>
            </form>
            <ul class="find-box flex">
                <li>아이디 찾기</li>
                <li>비밀번호 찾기</li>
                <li>회원 가입</li>
            </ul>
        </div>
        
    </div>
    
</body>
</html>