<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./user.css">
    <title>회원가입</title>
</head>
<body>
    <div class="flex">
        <div class="login-box flex">
            <form action="">
                <input type="text" class="login-input" placeholder="아이디" name="userid" required>
                <input type="password" class="login-input" placeholder="패스워드" name="password" required>
                <input type="text" class="login-input" placeholder="이름" name="username" required>
                <input type="text" class="login-input" placeholder="이메일" name="email" required>
                <br />
                <button class="login-button" type="button" ><span>회원가입</span></button>
            </form>
           
        </div>
        
    </div>
    
</body>
</html>