/*
 * Globals
 */

/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

body {
  /* text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5); */
  /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5); */
}

.cover-container {
  max-width: 42em;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgb(0, 0, 0);
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: rgb(129, 129, 129);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}
.nav-masthead .active {
  color: #818181;
  border-bottom-color: #818181;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

/* --------------------------  메인 움직이는 이미지 -------------------------- */
/* *,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}

* {
  transform-style: preserve-3d;
}

:root {
  --duration: 3.2s;
  --stagger: 0.65s;
  --easing: cubic-bezier(0.36, 0.07, 0.25, 1);
  --offscreen: 130vmax;
  //cubic-bezier(.5, 0, .4, 1);
  --color-bg: #ef735a;
  --color-blue: #384969;
  --color-shadow: #211842;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-bg);
}

#app {
  height: 70vmin;
  width: 40vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(25vw) rotateX(-20deg) rotateY(-55deg);
  background: var(--color-blue);
  border-radius: 2vmin;
  perspective: 10000px;

  &:before {
    border: 10vmin solid white;
    border-left-width: 2vmin;
    border-right-width: 2vmin;
    border-radius: inherit;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border: 10vmin solid white;
    border-left-width: 2vmin;
    border-right-width: 2vmin;
    background: var(--color-blue);
  }

  > .papers,
  &:before {
    transform: translateZ(3vmin);
  }

  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
    transform: translateZ(1.5vmin);
  }

  > .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: bottom center;
    transform: rotateX(90deg);
    background: var(--color-shadow);
    border-radius: inherit;
  }
}

.paper-shadow {
  background: var(--color-shadow);
  height: 50%;
  width: 100%;
  position: absolute;
  top: calc(100% + 3vmin);
  left: 0;
  transform-origin: top center;
  animation: shadow-in var(--duration) var(--easing) infinite;
  animation-delay: calc(var(--i) * var(--stagger));
  animation-fill-mode: both;

  @keyframes shadow-in {
    0%,
    5% {
      transform: scale(0.8, 1) translateY(var(--offscreen));
    }
    100% {
      transform: scale(0.8, 0);
    }
  }
}

.papers {
  width: 30vmin;
  height: 40vmin;
  background: white;
}

.paper {
  --segments: 5;
  --segment: calc(100% * 1 / var(--segments));
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  animation: fly-in var(--duration) var(--easing) infinite;
  animation-delay: calc((var(--i) * var(--stagger)));

  @keyframes fly-in {
    0%,
    2% {
      transform: translateZ(var(--offscreen)) translateY(80%) rotateX(30deg);
    }
    80%,
    100% {
      transform: translateZ(0px) translateY(0%) rotateX(0deg);
    }
  }

  > .segment {
    height: var(--segment);
  }
}

.segment {
  --rotate: 20deg;
  height: 100%;
  transform-origin: top center;
  background: white;
  border: 1px solid rgba(black, 0.2);
  border-top: none;
  border-bottom: none;

  > .segment {
    top: 98%;
  }

  animation: inherit;
  animation-name: curve-paper;

  @keyframes curve-paper {
    0%,
    2% {
      transform: rotateX(var(--rotate, 0deg));
    }
    90%,
    100% {
      transform: rotateX(0deg);
    }
  }
}

/* ---------------------------------- */
/* 
.paper.-rogue {
  transform-origin: top center -5vmin;

  .segment {
    --rotate: 30deg;
    animation-name: curve-rogue-paper;

    @keyframes curve-rogue-paper {
      0%,
      50% {
        transform: rotateX(var(--rotate));
      }
      100% {
        transform: rotateX(0deg);
      }
    }
  }

  // First segment of the paper
  > .segment {
    animation: inherit;
    animation-name: rogue-paper;
    transform-origin: left top 20vmin;

    @keyframes rogue-paper {
      0%,
      2% {
        transform: rotateX(1.5turn);
      }
      80%,
      100% {
        transform: rotateX(0turn);
      }
    }
  }
} */
