/* 
게시판 작성 페이지(boardEdit) 취소/등록 버튼 
*/
.editorButton {
  border: none;
  border-radius: 3px;
  min-height: 40px;
  min-width: 120px;
}

#editTitle {
  text-align: left;
  margin-bottom: 8px;
  font-size: 13px;
}

/* 게시판 작성 페이지(boardEdit) 카테고리 선택창
 */

/* 포인터 설정 */
.form-select {
  cursor: pointer;
}

/* 입력시 부트스트랩 체크박스 삭제 */
.form-control.is-valid,
.was-validated .form-control:valid {
  background-image: none;
}

/* 입력시 부트스트랩 체크박스 삭제 */
.form-select.is-valid:not([multiple]):not([size]),
.form-select.is-valid:not([multiple])[size="1"],
.was-validated .form-select:valid:not([multiple]):not([size]),
.was-validated .form-select:valid:not([multiple])[size="1"] {
  background-image: none;
}

/* boardMain부분 */
.board-box {
  display: flex;
  flex-wrap: wrap;
}
/* .new-box {
  background-color: gray;
  width: 400px;
  height: 400px;
  border-radius: 15px;
  
} */

.board-list {
  list-style: none;
  width: 100%;
  height: 1000px;
}

/* .nowBox-list {
  border-radius: 4px;
  list-style: none;
  width: 290px;
  height: 290px;
  margin: 1.5rem;
  padding: 15px;
  float: left;
  list-style: none;
  background-color: gray;
} */



.px-3 {
  width: 100%;
  height: 100%;
}
.button-container{
  display: flex;
  padding-top: 30px;
  padding-right: 63px;
  padding-bottom: 15px;
  justify-content:flex-end;
}

.board-button{
  background-color: #fefff7;
  border: 1px solid #6a6a6a;
  border-radius: 10px;
  padding:10px;
  min-height:30px; 
  min-width: 120px;
}

.btn:active, .btn:focus {
  outline:none !important;
  box-shadow:none !important;}

.board-container{
  display: flex;
  justify-content:space-around;
}

/* 내용 조절 */
.board-color-blue{
  border-radius: 4px;
  list-style: none;
  width: 290px;
  height: 290px;
  margin: 1.5rem;
  padding: 25px;
  float: left;
  list-style: none;
  background-color: #95C3DE;
}
.board-color-yellow{
  border-radius: 4px;
  list-style: none;
  width: 290px;
  height: 290px;
  margin: 1.5rem;
  padding: 25px;
  float: left;
  list-style: none;
  background-color: #FFEB81;
}
.board-color-red{
  border-radius: 4px;
  list-style: none;
  width: 290px;
  height: 290px;
  margin: 1.5rem;
  padding: 25px;
  float: left;
  list-style: none;
  background-color:#FF8C8C;
}

.DetailC-container{
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  justify-content: space-between;
  height: 240px;
}

.scrollP  div{
  text-align: left;
  
}

.DetailC-container > div{
  margin: 2px;
}

.content-container{
  height: 130px;
  position: relative;
  bottom: 5px;
}
.title{
  margin-bottom: 10px;
  font-weight:700;
  color: #464646;
  
}
.category{
  font-size: large;
  font-weight: bold;
  color: #464646;
  margin-bottom: 10px;
}

.content{
  
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  color: #4a4a4a;
}
.userId{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-size: small;
}
.createBoard{
  font-size: small;
  font-weight: lighter;
}

.profile-image{
  height:35px;
  width: 35px;
  border-radius: 20px;
  margin-right: 12px;
}

.profile-container{
  display: flex;
  align-items:center
}