/*
 * Globals
 */

/* 폰트 : 인천교육자람체 */
@font-face {
  font-family: "iceJaram-Rg";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceJaram-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

/* 홈페이지 좌우 여백 조절하는 곳 */
.cover-container {
  max-width: 72em;
}

/* 
메인 디자인 
*/

body {
  background: url("http://cdn.blogosfere.it/styleandfashion/images/162417963_10.jpg")
    no-repeat center center fixed;
  background-size: cover;
  background-color: #ededed;
  overflow: hidden;
  touch-action: none;
}

.wrapper-squares {
  width: 410px;
  height: 410px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -205px;
  margin-top: -205px;
}

.square {
  height: 200px;
  width: 200px;
  line-height: 200px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  font-size: 30px;
  font-weight: 100;
  font-family: "Gill sans", sans;
  position: absolute;
  transition: all 600ms ease-in-out;
}

/* 네모박스 첫화면 */
.square-brand {
  background-color: #ffd503;
  color: #000;
  z-index: 10;
  cursor: pointer;
  font-family: "iceJaram-Rg";
  font-size: 45px;
  /* 텍스트 커서표시 안되게 설정 */
  user-select: none;
}

.square-pulse {
  box-shadow: 0 0 3px #515151;
  -webkit-animation: pulse 3s infinite; /* Safari 4+ */
  -moz-animation: pulse 3s infinite; /* Fx 5+ */
  -o-animation: pulse 3s infinite; /* Opera 12+ */
  animation: pulse 3s infinite; /* IE 10+ */
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 3px #515151;
  }
  50% {
    box-shadow: 0 0 60px #ccc;
  }
  100% {
    box-shadow: 0 0 3px #515151;
  }
}
@-moz-keyframes pulse {
  0% {
    box-shadow: 0 0 3px #515151;
  }
  50% {
    box-shadow: 0 0 60px #ccc;
  }
  100% {
    box-shadow: 0 0 3px #515151;
  }
}
@-o-keyframes pulse {
  0% {
    box-shadow: 0 0 3px #515151;
  }
  50% {
    box-shadow: 0 0 60px #ccc;
  }
  100% {
    box-shadow: 0 0 3px #515151;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 3px #515151;
  }
  50% {
    box-shadow: 0 0 60px #ccc;
  }
  100% {
    box-shadow: 0 0 3px #515151;
  }
}

.square-pulse:hover {
  box-shadow: 0 0 100px #ccc;
}

.square-center {
  left: 50%;
  top: 50%;
  margin-top: -100px;
  margin-left: -100px;
  cursor: pointer;
}

/* 흩날리는 포스트잇 구현 ---------------------*/

.confetti {
  width: 100px;
  height: 100px;
  background-color: #f2d74e;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-animation: confetti 5s ease-in-out -2s infinite;
  animation: confetti 5s ease-in-out -2s infinite;
  transform-origin: left top;
}

.confetti:nth-child(1) {
  background-color: #f2d74e;
  -webkit-animation-delay: 0;
  animation-delay: 0;
}

.confetti:nth-child(2) {
  background-color: #95c3de;
  -webkit-animation-delay: -5s;

  animation-delay: -5s;
}

.confetti:nth-child(3) {
  background-color: #ff9a91;
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
}

.confetti:nth-child(4) {
  background-color: #f2d74e;
  -webkit-animation-delay: -2.5s;
  animation-delay: -2.5s;
}

.confetti:nth-child(5) {
  background-color: #95c3de;
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}

.confetti:nth-child(6) {
  background-color: #ff9a91;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

.confetti:nth-child(7) {
  background-color: #f2d74e;
  -webkit-animation-delay: -1.5s;
  animation-delay: -1.5s;
}

.confetti:nth-child(8) {
  background-color: #95c3de;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.confetti:nth-child(9) {
  background-color: #ff9a91;
  -webkit-animation-delay: -3.5s;
  animation-delay: -3.5s;
}

.confetti:nth-child(10) {
  background-color: #f2d74e;
  -webkit-animation-delay: -2.5s;
  animation-delay: -2.5s;
}

@-webkit-keyframes confetti {
  0% {
    transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
  }
  25% {
    transform: rotateZ(5deg) rotateY(60deg) translate(-5vw, 20vh);
  }
  50% {
    transform: rotateZ(15deg) rotateY(420deg) translate(5vw, 60vh);
  }
  75% {
    transform: rotateZ(5deg) rotateY(880deg) translate(-10vw, 80vh);
  }
  100% {
    transform: rotateZ(15deg) rotateY(1240deg) translate(10vw, 110vh);
  }
}

@keyframes confetti {
  0% {
    transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
  }
  25% {
    transform: rotateZ(5deg) rotateY(60deg) translate(-5vw, 20vh);
  }
  50% {
    transform: rotateZ(15deg) rotateY(420deg) translate(5vw, 60vh);
  }
  75% {
    transform: rotateZ(5deg) rotateY(880deg) translate(-10vw, 80vh);
  }
  100% {
    transform: rotateZ(15deg) rotateY(1240deg) translate(10vw, 110vh);
  }
}

/* 흩날리는 포스트잇 구현 끝 ----------------- */
