/*
 * Globals
 */

/* 폰트 : 인천교육자람체 */
@font-face {
  font-family: "iceJaram-Rg";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceJaram-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*
 * Base structure
 */
body {
  touch-action: none;
}

/* 홈페이지 좌우 여백 조절하는 곳 */
.cover-container {
  max-width: 72em;
}

/* 
메인 디자인 
*/

.square {
  height: 200px;
  width: 200px;
  line-height: 200px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  font-size: 30px;
  font-weight: 100;
  font-family: "Pretendard";
  position: absolute;
  transition: all 600ms ease-in-out;
}

/* 네모박스 첫화면 */
.square-brand {
  background-color: #ffd503;
  color: #6a6a6a;
  z-index: 10;
  cursor: pointer;
  font-family: "Pretendard";
  font-size: 30px;
  font-weight: 800;
  /* 텍스트 커서표시 안되게 설정 */
  user-select: none;
  /* 외곽선 */
  /* border: 1.2px solid #7f7979; */
}

.square-pulse {
  box-shadow: 0 0 3px #515151;
  -webkit-animation: pulse 3s infinite; /* Safari 4+ */
  -moz-animation: pulse 3s infinite; /* Fx 5+ */
  -o-animation: pulse 3s infinite; /* Opera 12+ */
  animation: pulse 3s infinite; /* IE 10+ */
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 3px #515151;
  }
  50% {
    box-shadow: 0 0 60px #ccc;
  }
  100% {
    box-shadow: 0 0 3px #515151;
  }
}
@-moz-keyframes pulse {
  0% {
    box-shadow: 0 0 3px #515151;
  }
  50% {
    box-shadow: 0 0 60px #ccc;
  }
  100% {
    box-shadow: 0 0 3px #515151;
  }
}
@-o-keyframes pulse {
  0% {
    box-shadow: 0 0 3px #515151;
  }
  50% {
    box-shadow: 0 0 60px #ccc;
  }
  100% {
    box-shadow: 0 0 3px #515151;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 3px #515151;
  }
  50% {
    box-shadow: 0 0 60px #ccc;
  }
  100% {
    box-shadow: 0 0 3px #515151;
  }
}

.square-pulse:hover {
  box-shadow: 0 0 100px #ccc;
}

.square-center {
  left: 50%;
  top: 50%;
  margin-top: -100px;
  margin-left: -100px;
  cursor: pointer;
}

/* 흩날리는 포스트잇 ---------------------*/
.confetti {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  /* 외곽선 */
  /* border: 1.2px solid #7f7979; */
}
