/* 
부트스트랩 버튼 색상 변경
 */

/* 공통 적용 CSS */
.btn-red {
  background-color: #ff8c8c; /* 사용자 정의 색상 */
  border-color: #ff8c8c; /* 사용자 정의 색상 */
}

.btn-blue {
  background-color: #95c3de; /* 사용자 정의 색상 */
  border-color: #95c3de; /* 사용자 정의 색상 */
}

.btn-gray-500 {
  background-color: #7f7979; /* 사용자 정의 색상 */
  border-color: #7f7979; /* 사용자 정의 색상 */
}

.btn-Warning {
  background-color: #ffeb81; /* 사용자 정의 색상 */
  border-color: #7f7979; /* 사용자 정의 색상 */
}

/* 마이페이지 */
body {
  position: relative;
}

fieldset {
  display: none;
}

fieldset.show {
  display: block;
}

.tabs {
  margin: 2px 5px 0px 5px;
  padding-bottom: 10px;
  cursor: pointer;
}

form {
  margin-top: 24px;
  background-color: transparent;
}

/* 클릭시 선택 */
.tabs:hover,
.tabs.active {
  border-bottom: 1px solid #2196f3;
}

a:hover {
  text-decoration: none;
  color: #1565c0;
}

/* 
모달 디자인
 */

/* 모달 내부 외곽선 제거 */
.modal-header {
  border-bottom: 0 none;
}
.modal-footer {
  border-top: 0 none;
}

.modal-content {
  border-top: 0 none;
  width: 400px;
  height: 400px;
  background-color: #f2d74e;
}

.box {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .tabs h6 {
    font-size: 12px;
  }
}
