/* 
버튼 호버시 색상 변경 -> 부트스트랩 사용
  - #e96b6b, #78c0ea 으로 색상 변경
*/
.btn-primary:active,
.btn-primary:hover,
.btn-primary.focus,
.btn-primary.active {
  background-color: #78c0ea !important;
}

.btn-primary {
  background-color: #95c3de !important;
  border-color: #95c3de !important;
}

/* 
공통 패딩 및 마진 스타일
 */
.padding-top--48 {
  padding-top: 48px;
}
.padding-bottom--24 {
  padding-bottom: 24px;
}
.padding-bottom--10 {
  padding-bottom: 10px;
}
.padding-horizontal--48 {
  padding: 48px;
}

/* 공통 레이아웃 설정 */
.flex-flex {
  display: flex;
}
.flex-direction--column {
  -ms-flex-direction: column;
  flex-direction: column;
}

/* 레이아웃 스타일 */
.login-root {
  background: none;
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.box-root {
  box-sizing: border-box;
}

.formbg {
  margin: 0px auto;
  width: 100%;
  max-width: 448px;
  background: #ffeb81;
  border-radius: 4px;
}

span {
  display: block;
  font-size: 20px;
  line-height: 28px;
  color: #7f7979;
}

label {
  margin-bottom: 10px;
  color: #7f7979;
}

.grid--50-50 {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.field input {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(149, 195, 222, 0.5);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 0 1px rgba(60, 66, 87, 0.16);
}

input[type="button"] {
  background-color: #9dd5f5;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 0 0 1px #95c3de,
    0 2px 5px rgba(60, 66, 87, 0.08);
}

input[value="중복확인"] {
  border-radius: 0px 4px 4px 0px;
  width: 30%;
}

input[placeholder="아이디"],
input[placeholder="닉네임"] {
  border-radius: 4px 0px 0px 4px;
}
