<!DOCTYPE html>
<html lang="ko" class="h-100" data-bs-theme="auto">
  <!DOCTYPE html>
  <html lang="ko" class="h-100" data-bs-theme="auto">
    <head>
      <!-- CDN들 불러오기 -->
      <%- include('../components/cdn.ejs') %>
      <!-- CSS 연결 -->
      <link href="../static/css/map.css" rel="stylesheet" />
      <title>맛집 지도</title>
    </head>
    <body class="d-flex h-100 text-center text-bg-white">
      <!-- 헤더 : 상단 메뉴바  -->
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="container">
          <div><%- include('../components/header.ejs') %></div>
        </header>
        <main class="px-3">
          <div class="container">
            <div class="footer-link padding-top--24">
              <div class="mapInfo">
                <!-- 아이콘 svg -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-chat-right-dots-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353V2zM5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
                  />
                </svg>
                &nbsp&nbsp지도 좌측 상단의 카테고리를 클릭한 뒤, 지도에 표시되는
                마커를 클릭하여 리뷰를 작성해주세요!
              </div>
              <!-- NA: 테스트 입력칸 이렇게 만들고 싶은데 안됨...ㅠㅠ -->
              <!-- <div class="starBox d-flex align-items-center">
                <span class="p-2 starBox">
                  <button
                    type="button"
                    id="star1"
                    class="buttonStar"
                    value="1"
                    onclick="starRating(1, 'postReviewDiv')"
                  >
                    ☆
                  </button>
                  <button
                    type="button"
                    id="star2"
                    class="buttonStar"
                    value="2"
                    onclick="starRating(2, 'postReviewDiv')"
                  >
                    ☆
                  </button>
                  <button
                    type="button"
                    id="star3"
                    class="buttonStar"
                    value="3"
                    onclick="starRating(3, 'postReviewDiv')"
                  >
                    ☆
                  </button>
                  <button
                    type="button"
                    id="star4"
                    class="buttonStar"
                    value="4"
                    onclick="starRating(4, 'postReviewDiv')"
                  >
                    ☆
                  </button>
                  <button
                    type="button"
                    id="star5"
                    class="buttonStar"
                    value="5"
                    onclick="starRating(5, 'postReviewDiv')"
                  >
                    ☆
                  </button>
                </span>
                <input
                  type="text"
                  name="reviewComment"
                  class="reviewBox flex-grow-1"
                  placeholder="후기를 입력해주세요"
                  required
                />
                <button
                  type="button"
                  class="submitButton p-2"
                  onclick="uplodeReview('${placeName}', '${placeAddress}')"
                >
                  작성하기
                </button>
              </div> -->
              <!-- NA: 테스트 입력칸 이렇게 만들고 싶은데 안됨...ㅠㅠ  -->
            </div>
            <div class="map_wrap">
              <!-- 지도 나오는 부분 -->
              <div id="map"></div>
              <!-- 카테고리 -->
              <ul id="category">
                <li id="FD6" data-order="0">
                  <!-- SB: 카테고리 아이콘을 결정하는 클래스입니다. ex) cafe, store -->
                  <span class="category_bg cafe"></span>
                  음식점
                </li>
                <li id="CS2" data-order="1">
                  <span class="category_bg store"></span>
                  편의점
                </li>
                <li id="CE7" data-order="2">
                  <span class="category_bg cafe"></span>
                  카페
                </li>
                <li id="PM9" data-order="3">
                  <span class="category_bg pharmacy"></span>
                  약국
                </li>
              </ul>
            </div>
      </div>
    </body>
  </html>
</html>
